In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from keras.models import Model, Sequential
from keras.layers import Dense, Dropout, Flatten, Conv1D, MaxPooling1D, Embedding, LeakyReLU, Input
from keras.optimizers import Nadam ,RMSprop
from keras.preprocessing import text, sequence
from sklearn.utils import shuffle
import keras
import gensim

In [2]:
trainvar = pd.read_csv('training_variants')
traintex = pd.read_csv('training_text', sep='\|\|', header=None, names=['ID','Text'], skiprows=[0])
train = pd.merge(trainvar, traintex, on='ID')

trainvar = pd.read_csv('test_variants')
traintex = pd.read_csv('test_text', sep='\|\|', header=None, names=['ID','Text'], skiprows=[0])
test = pd.merge(trainvar, traintex, on='ID')

/home/arun/Programs/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/home/arun/Programs/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [4]:
train.Text = train.Text.str.lower()
test.Text = test.Text.str.lower()
train.Text = train.Gene +' '+ train.Variation +' '+ train.Text
test.Text = test.Gene + test.Variation + test.Text
l = stopwords.words('english').append(['well','determine'])
for words in stopwords.words('english'):
    test.Text = test.Text.str.replace(' '+words+' ', '')
    train.Text = train.Text.str.replace(' '+words+' ', '')

In [5]:
maxlength=10000
y = keras.utils.to_categorical(train['Class']-1, num_classes=9)
tok = text.Tokenizer()
tok.fit_on_texts(train['Text'])
X = tok.texts_to_sequences(train['Text'])
X = sequence.pad_sequences(X ,maxlen=maxlength)

In [8]:
# input1 = Input(shape=(maxlength,))
# x = Embedding(max(tok.word_index.values())+1, 15, input_length=maxlength)(input1)
# x = Conv1D(128,10, activation='relu')(x)
# #x = LeakyReLU(0.1)(x)
# x = MaxPooling1D()(x)
# # x = Dropout(0.2)(x)
# # x = Conv1D(128,10, activation='relu')(x)
# # #x = LeakyReLU(0.1)(x)
# # x = MaxPooling1D()(x)
# x = Flatten()(x)
# x = Dense(128, activation='relu')(x)
# x = LeakyReLU(0.1)(x) 
# output = Dense(units=9, activation='softmax')(x)
# model = Model(inputs=input1, outputs=output)

model = Sequential()
model.add(Embedding(max(tok.word_index.values())+1, 15, input_length=maxlength))
model.add(Conv1D(128,10,activation='relu'))
model.add(MaxPooling1D())
model.add(Dropout(0.2))
model.add(Conv1D(128,10,activation='relu'))
model.add(MaxPooling1D())
model.add(Flatten())
model.add(Dense(128,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(units=9,activation='softmax'))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 10000, 15)         17657145
_________________________________________________________________
conv1d_2 (Conv1D)            (None, 9991, 128)         19328
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 4995, 128)         0
_________________________________________________________________
dropout_1 (Dropout)          (None, 4995, 128)         0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 4986, 128)         163968
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 2493, 128)         0
_________________________________________________________________
flatten_1 (Flatten)          (None, 319104)            0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               40845440
_________________________________________________________________
dropout_2 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_2 (Dense)              (None, 9)                 1161
=================================================================
Total params: 58,687,042
Trainable params: 58,687,042
Non-trainable params: 0
_________________________________________________________________

In [9]:
model.compile(loss='categorical_crossentropy',
              optimizer=Nadam(),
              metrics=['accuracy'])

In [15]:
model.fit(X, y, batch_size=128, epochs=1, verbose=1, validation_split=0.1)

Train on 2988 samples, validate on 333 samples
Epoch 1/1
2988/2988 [==============================] - 279s - loss: 0.4064 - acc: 0.8420 - val_loss: 1.7337 - val_acc: 0.4685

In [16]:
x = tok.texts_to_sequences(test['Text'])

In [17]:
classes = model.predict(sequence.pad_sequences(x,maxlen=maxlength), batch_size=32, verbose=1)

5668/5668 [==============================] - 153s

In [18]:
cl = np.zeros_like(classes)
for i in range(len(classes)):
    cl[i, classes[i].argmax()] = 1
cols=['class1', 'class2', 'class3', 'class4', 'class5', 'class6', 'class7', 'class8', 'class9']
dfsub = pd.DataFrame(classes, columns=cols)
dfsub.insert(0,'ID',range(len(dfsub.class1)))
dfsub.head(15)

,ID,class1,class2,class3,class4,class5,class6,class7,class8,class9
0,0,0.005125,0.506954,0.007810,0.032454,0.001196,7.736393e-05,0.446325,3.670263e-05,2.170306e-05
1,1,0.148411,0.282092,0.052246,0.321742,0.023468,3.429621e-02,0.119863,9.467940e-03,8.413129e-03
2,2,0.080366,0.028229,0.002516,0.691431,0.000087,9.213973e-05,0.197060,2.010060e-04,1.824740e-05
3,3,0.021330,0.081159,0.019929,0.127049,0.006907,6.679071e-04,0.741636,8.015439e-04,5.205296e-04
4,4,0.078236,0.049611,0.007443,0.252035,0.003064,2.480609e-03,0.605184,1.399651e-03,5.463482e-04
5,5,0.009536,0.008145,0.010835,0.903149,0.000888,3.280174e-03,0.062926,8.141967e-04,4.282194e-04
6,6,0.015741,0.197533,0.085096,0.253947,0.022278,4.557580e-02,0.325809,1.481733e-02,3.920225e-02
7,7,0.014968,0.263662,0.020346,0.129909,0.002193,3.670495e-03,0.557053,3.360786e-03,4.838307e-03
8,8,0.039347,0.399311,0.035443,0.126382,0.016309,1.031301e-01,0.237415,1.014708e-02,3.251526e-02
9,9,0.000001,0.009088,0.000017,0.000411,0.000002,3.664846e-08,0.990481,5.659768e-09,1.695536e-07
10,10,0.028370,0.220835,0.006857,0.177434,0.000322,1.546201e-05,0.566139,2.352693e-05,3.848358e-06
11,11,0.000148,0.089190,0.000589,0.004239,0.000129,2.061799e-05,0.905665,2.686630e-06,1.619567e-05
12,12,0.268999,0.014835,0.002298,0.014469,0.158554,5.278555e-01,0.005230,3.568982e-03,4.190431e-03
13,13,0.347422,0.031384,0.045649,0.477007,0.007671,3.922669e-04,0.089001,1.401423e-03,7.326111e-05
14,14,0.012999,0.163939,0.004606,0.024739,0.001437,2.470065e-04,0.791834,9.863949e-05,1.005825e-04

In [19]:
dfsub.to_csv('embtry.csv',index=False)

loss: 0.4064 - acc: 0.8420 - val_loss: 1.7337 - val_acc: 0.4685
score was 1.04